#app {
    display: flex;
    flex-direction: column;
}

/* Style your app with a dark theme */
header {
    background-color: #023866;
    color: white;
    padding: 10px 40px 10px 0;
    text-align: right;
    align-items: stretch;
    gap: 1vh;
}

header #clock {
    float: left;
    margin: 0.7em 0 0 1.5em;
    font-size: xx-large;
    font-family: Verdana, Tahoma, sans-serif;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#content article {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 2vw;
    width: 90vw;
    margin: 20px auto 0;
    border-radius: 1vw;

    border: 1px solid #666;
}

#content article .left {
    width: 40%;
}
#content article .left img {
    width: 100%;
    border-radius: 1vw;
}

h2 { margin-top: 0; color: #d6ba65; font-weight: normal; }
#content article .right {
    padding-left: 3vw;
    width: 60%;

    line-height: 1.5;
    font-size: x-large;
    overflow-y: hidden;
    max-height: 70vh;

}


/* Additional styles for dark mode */
body {
    background-color: #1c1c1c; /* Darker background for the entire page */
    font-family: sans-serif;
/*    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */

}

html, body, #app {
    margin: 0; padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}


#messages {
    font-family: sans-serif;
    position: absolute;
    width: 100vw;
    color: white;
    font-size: 4vw;
    bottom: 5%;
    padding: 1em 10% 1em;
    background-color: rgba(64,64,64);
    /* box-sizing: border-box; */
}